force-app/main/default/flows/Auto_Populate_Approvers_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>auto populate approvers on the record as per portfolio selection
V2:  try adding approvers from custom object</description>
    <interviewLabel>Auto Populate Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populate Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecord</name>
        <label>getRecord</label>
        <locationX>580</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateDCapprovers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio__c</elementReference>
            </value>
        </filters>
        <object>Approvers__c</object>
        <outputReference>varApproversRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>OfferingLeader__c</queriedFields>
        <queriedFields>SubOfferingLeader__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDCapprovers</name>
        <label>UpdateDCapprovers</label>
        <locationX>581</locationX>
        <locationY>411</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>varApproversRecord.Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfferingLeader__c</field>
            <value>
                <elementReference>varApproversRecord.OfferingLeader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubOfferingLeader__c</field>
            <value>
                <elementReference>varApproversRecord.SubOfferingLeader__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>getRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>to store approvers record</description>
        <name>varApproversRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approvers__c</objectType>
    </variables>
</Flow>
